<a href="https://colab.research.google.com/github/Taissera/PM_Python_Seminars_HW/blob/main/PM_Python_Seminar_9_Alexandrova_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [6]:
df.shape

(3000, 9)

In [7]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [9]:
# Задача 59. 
# 1. Проверить, есть ли в файле пустые значения
# df.isnull()
# нужно добавить sum()
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [12]:
# Задача 59. 
# 2. Показать median_house_value где median_income < 2

# median_house_value_income < 2
# df[df['median_income'] < 2]['median_house_value']
df.loc[df['median_income'] < 2, 'median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [14]:
# Задача 59. 
# 3. Показать данные в первых 2 столбцах
# longitude
# latitude
df[['longitude', 'latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [18]:
# Задача 59. 
# 4. Выбрать данные где housing_median_age < 20 и median_house_value > 70000

df[(df['housing_median_age'] < 2) & (df['median_house_value'] > 7000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
842,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.875,141700.0
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.625,55000.0

In [27]:
# Задача 60.
# 1. Определить какое максимальное и минимальное значение median_house_value

print(df['median_house_value'].max())
print(df['median_house_value'].min())

22500.0

In [33]:
# Задача 60.
# 2. Показать максимальное median_house_value, где median_income = 3.1250

df.loc[df['median_income'] == 3.1250, 'median_house_value'].max()

233300.0

In [44]:
# Задача 60.
# 3. Узнать какая максимальная population в зоне минимального значения median_house_value

# максимальная population:
# print(df['population'].max())

# минимальный median_house_value:
# print(df['median_house_value'].min())

df[df['median_house_value'] == df['median_house_value'].min()]['population'].max()

# ещё вариант:
df.loc[df['median_house_value'] == df['median_house_value'].min(), 'population']

2001    1230.0
Name: population, dtype: float64